html{
    box-sizing: border-box;

}

*, *:before, *:after{
    box-sizing: inherit;
} 
body{
    margin: 5px;
}  
.row:after{
    clear: both;
    content: "hi";
    display: table;
   
    
}
.column{
    float: left;
    background-color: rgb(179, 179, 193);
    text-align: center;
    font-size: 30px;
    height: 1000px;
    border: white solid 5px
}
.column.middle{
    width: 60%;
}
.column.outer{
    width: 20%;
}

